<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the home page 1 + 2</h1>
    <h3> <%= 1 + 2 %> </h3>
    <h3> <%= 3 * 5 %> </h3>
    <h3> <%= "apnacollege".toUpperCase() %> </h3>
    <h3> <%= ["hello","bonjour","namaste"][2]%> </h3>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus expedita reiciendis impedit, possimus pariatur debitis ducimus error, voluptatibus autem, corrupti amet vitae veritatis laboriosam voluptas id facilis rem. Animi, perspiciatis!
        Eos a quos optio corrupti repellat magni nemo, aut molestias labore quis animi in excepturi, natus asperiores dignissimos quasi necessitatibus cupiditate eveniet sapiente sit nam expedita ratione architecto? Hic, esse!
        Voluptate, nihil rerum. Nobis distinctio, porro nostrum iste placeat incidunt nam, accusantium, quam laborum voluptatibus aspernatur est? Exercitationem distinctio dolore, et dolor commodi iusto ratione? Reprehenderit voluptate laborum quo ducimus?
        Autem provident, architecto quis minus facilis ut harum, laboriosam earum doloribus quaerat illum officia quibusdam doloremque neque optio aliquid nam nobis corrupti? Ullam illum maiores reiciendis nostrum mollitia similique voluptas.
        Ab dolorum doloremque solm repellat minima ullam eveniet tenetur quod maxime aperiam autem doloribus, porro velit officia quia commodi aut! Ut iste aut magni doloribus unde animi dicta expedita ea.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique quam odit nesciunt, delectus at obcaecati ratione deserunt sequi velit doloremque dolorum ullam laudantium alias harum officia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo atque illum magnam earum laboriosam! In, fugit. Magni, aperiam. Excepturi fuga asperiores quam delectus nostrum voluptatem architecto autem deleniti ducimus laudantium.loMinus earum facilis doloremque?
    </p>
    <button>click me!</button>
</body>
</html>